/* for tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* skelton */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #795cfa3f;
}

/* container sizes */
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.label{
  @apply text-black text-[13px] font-[300]
}
.field{
  @apply flex flex-col mb-5
}
select ,.select{
  border:1px solid #795cfa49;
  outline: none;
}
